<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="{{ head.description }}">
    <meta name="author" content="{{ head.author }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="{{ config.assets_root }}assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ config.assets_root }}assets/images/favicon.png">

    <title>{{ head.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ config.assets_root }}assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ config.assets_root }}assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ config.assets_root }}assets/css/motive.css">

    <!--[if lt IE 9]>
    <script src="{{ config.assets_root }}assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="{{ config.assets_root }}assets/bootstrap/js/respond.min.js"></script>
    <script src="{{ config.assets_root }}assets/js/REM-unit-polyfill/js/rem.min.js"></script>
    <![endif]-->

    <script src="{{ config.assets_root }}assets/js/modernizr.custom.js"></script>
</head>

<body class="cssAnimate ct-onepage">

    <div class="ct-preloader">
        <div class="ct-preloader-content"></div>
    </div>

    <div class="ct-menuMobile">
        <ul class="ct-menuMobile-navbar">
            <li class="onepage">
                <a href="#home">{{ menu.home }}</a>
            </li>
            <li class="onepage">
                <a href="#schedule">{{ menu.schedule }}</a>
            </li>
            <li class="onepage">
                <a href="#trainers">{{ menu.trainers }}</a>
            </li>
            <li class="onepage">
                <a href="#register">{{ menu.register }}</a>
            </li>
            <li class="onepage">
                <a href="#map">{{ menu.location }}</a>
            </li>
        </ul>
    </div>

    <div class="navbar-block navbar-right toggleButton" style="right: 0; top: 0;">
        <div class="navbar-block-inner">
            <div id="nav-icon" class="nav-icon--right">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div id="ct-js-wrapper" class="ct-pageWrapper">

        <header class="ct-mainHeader">
            <div class="ct-topBar ct-topBar--type1">
                <div class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-block navbar-left">
                            <div class="navbar-block-inner">
                                <ul class="list-unstyled list-inline">
                                    <li>
                                        <span>
                                            <a style="color: white" href="{{ config.translate_url }}">{{ config.translate_label }}</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="navbar-block navbar-right">
                            <div class="navbar-block-inner">
                                <ul class="list-unstyled list-inline">
                                    <li>
                                        <span class="text-primary" style="color: #337ab7">
                                            {{ data.header.organisation }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-default navbar--type1 yamm navbar-logo--left">
                <div class="container ct-navbar-container">

                    <div class="navbar-header navbar-left">
                        <a class="navbar-brand" href="index.html">
                            <img alt="{{ head.title }}" src="{{ logo_url }}" />
                        </a>
                    </div>

                    <ul class="nav navbar-nav ct-navbar--fadeIn navbar-right">
                        <li class="onepage active">
                            <a href="#home">{{ menu.home }}</a>
                        </li>
                        <li class="onepage">
                            <a href="#schedule">{{ menu.schedule }}</a>
                        </li>
                        <li class="onepage">
                            <a href="#trainers">{{ menu.trainers }}</a>
                        </li>
                        <li class="onepage">
                            <a href="#register">{{ menu.register }}</a>
                        </li>
                        <li class="onepage">
                            <a href="#map">{{ menu.location }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <section id="home" class="section" data-background="http://res.cloudinary.com/sparo/image/upload/b_rgb:ffffff,c_pad,h_900,pg_1,w_1920/v1522940382/Aikido/AIKIDO50G_LOGO_t6klfg.jpg"
                data-height="865" data-background-mobile="http://res.cloudinary.com/sparo/image/upload/c_fit,h_1080,w_1920/v1522940382/Aikido/AIKIDO50G_LOGO_t6klfg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-6">
                            <section class="ct-js-slick ct-slick ct-u-marginBottom30 ct-slick-arrow--type1 ct-slick-dots--type1" data-autoplay="false"
                                data-arrows="true" data-dots="true" data-items="1" data-height="865">
                                <div class="item ct-u-colorWhite text-uppercase text-center ct-fw-700">
                                    <div class="item-inner">
                                        <span>&nbsp;</span>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>

            <section id="schedule" class="section ct-u-paddingTop100">
                <div class="container">
                    <div class="ct-headerBox ct-headerBox--type2">
                        <div class="ct-headerBox-body">
                            <h3>
                                <span>{{ data.schedule.title }}</span>

                                <small>
                                    <strong style="color: #aaa">{{data.schedule.subtitle1}}</strong>
                                </small>

                                <small>
                                    <span>{{ data.schedule.event1 }}</span>
                                </small>
                                <small>
                                    <span>{{ data.schedule.event2 }}</span>
                                </small>
                                <small>
                                    <span>{{ data.schedule.event3 }}</span>

                                    <small style="text-transform: lowercase; color: brown">
                                        <i>
                                            {{ data.schedule.event3_smalltext }}
                                        </i>
                                    </small>
                                </small>

                                <small>
                                    <strong style="color: #aaa">{{data.schedule.subtitle2}}</strong>
                                </small>

                                <small>
                                    <span>{{ data.schedule.event4 }}</span>
                                </small>
                                <small>
                                    <span>{{ data.schedule.event5 }}</span>
                                </small>
                                <br>
                                <small>
                                    <span style="color: #bbb">
                                        <strong>
                                            {{ data.schedule.event6 }}
                                        </strong>
                                    </span>
                                </small>
                           </h3>
                        </div>
                    </div>
                </div>
            </section>

            <section id="trainers" class="section ct-u-paddingTop150" data-background="{{ config.assets_root }}assets/images/content/galleryBG.jpg">
                <div class="container">
                    <div class="ct-testimonial ct-js-testimonial">
                        @each(trainer in data.trainers)
                        <div class="ct-js-testimonial-row ct-testimonial-row">
                            <article class="ct-testimonial-item ct-testimonial-item--large" data-bottom-top="left: -140%;" data-bottom="left: 0;">
                                <a href="{{ trainer.url }}">
                                    <div class="ct-testimonial-item-media">
                                        <figure>
                                            <img class="grayscale grayscale-fade" src="{{ trainer.image }}" alt="{{ trainer.name }}">
                                        </figure>
                                    </div>
                                    <div class="ct-testimonial-item-content">
                                        <h4 class="text-uppercase text-center ct-testimonial-item-header">
                                            <span>{{ trainer.name }} {{ trainer.title }} {{ trainer.level }}</span>
                                        </h4>

                                        <p class="ct-testimonial-item-text text-center">
                                            {{ trainer.bio }}
                                        </p>
                                    </div>
                                </a>
                            </article>
                        </div>
                        @endeach
                    </div>
                </div>
            </section>

            <section id="register" class="section ct-u-paddingTop100">
                <div class="container">
                    <div class="ct-headerBox ct-headerBox--type2">
                        <div class="ct-headerBox-body">
                            <h3>
                                <span>{{ data.register.callToAction }}
                                    <a target="_blank" href="{{ data.register.callToActionUrl }}">
                                        <strong>
                                            <u>{{ data.register.callToActionLabel }}</u>
                                        </strong>
                                    </a>
                                </span>
                                <small>
                                    <span>{{ data.register.taks1 }}</span>
                                </small>
                            </h3>
                        </div>
                    </div>
                </div>
            </section>

            <section id="map" class="section ct-u-paddingTop100">
                <div class="container">
                    <div class="row">
                        <div class="text-center">
                            <address style="color: #aaa">
                                <strong>HALA SPORTOVA</strong>
                                <br> Pariske komune 20
                                <br> Novi Beograd
                                <br>
                                <abbr title="Phone">P:</abbr> (011) 2601658
                                <br>
                                <a target="_blank" href="http://www.halasportova.rs">www.halasportova.rs</a>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="ct-map-container">
                    <div class="ct-map" data-height="355"></div>
                </div>
            </section>

        </main>

        <footer>
            <section class="ct-postfooter ct-u-backgroundMotive ct-u-paddingBoth20">

                <div class="container">

                    <a href="index.html">
                        © aikidosrbije.org.rs
                    </a>
                </div>
            </section>

            <div id="ddd"></div>
        </footer>

    </div>

    <a href="#" class="ct-js-btnScrollUp">
        <span>
            <i class="fa fa-angle-up"></i>
        </span>
    </a>

    <!-- JavaScripts -->

    <script id="googleMap" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2Tf47OMdU2eyaFGVk33kaQ3X0B9GlfF4&libraries=places,geometry"></script>
    <script src="{{ config.assets_root }}assets/js/dojo.min.js"></script>
    <script src="{{ config.assets_root }}assets/js/main.js"></script>
    <script src="{{ config.assets_root }}assets/js/onepager/jquery.pagescroller.lite.js"></script>
    <script src="{{ config.assets_root }}assets/js/onepager/init.js"></script>

</body>

</html>